<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% include 'favicon.html' %} {% include 'styles.html' %}
  </head>
  <body>
    <div class="container">
      <main>
        <!-- Flash Banners - Start -->
        {% include 'flash.html' %}
        <!-- Flash Banners - End -->
        <div class="row">
          <div class="two columns">
            <!-- Navbar - Start -->
            {% include 'navigation.html' %}
            <!-- Navbar - End -->
          </div>
          <div class="ten columns">
            <!-- Top Nav - Start -->
            <div class="row">{% include 'topnav.html' %}</div>
            <!-- Top Nav - End -->
            <!-- Content - Start -->
            {% block content %}{% endblock content %}
            <!-- Content - End -->
          </div>
        </div>
      </main>
    </div>
    {% include 'javascript.html' %}
  </body>
</html>
