<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% include 'favicon.html' %} {% include 'styles.html' %}
  </head>
  <body>
    <div class="container">
      <main>
        <!-- Flash Banners - Start -->
        {% include 'flash.html' %}
        <!-- Flash Banners - End -->
        <div class="row">
          <div class="one-third column">
            <!-- Navbar - Start -->
            {% include 'navigation.html' %}
            <!-- Navbar - End -->
          </div>
          <div class="two-third column">
            <div class="card">
              <!-- Content - Start -->
              {% block content %}{% endblock content %}
              <!-- Content - End -->
            </div>
          </div>
        </div>
      </main>
    </div>
    {% include 'javascript.html' %}
  </body>
</html>
