{%extends "base.html"%} {%block content%}
<form
  method="post"
  action="{{url_for('stations.edit_station', station_id=station['_id'])}}"
>
  {{form.hidden_tag()}}
  <div class="row">
    <div>
      <h2>Add New Station</h2>
      <h3>Station Name and Number</h3>
      {{form.name.label}} {{form.name(class="u-full-width")}}
      {{form.number.label}} {{form.number(class="u-full-width")}}
      <h3>Station Address</h3>
      {{form.street_number.label}} {{form.street_number(class="u-full-width")}}
      {{form.street_prefix.label}} {{form.street_prefix(class="u-full-width
      select2-search")}} {{form.street_name.label}}
      {{form.street_name(class="u-full-width")}} {{form.street_type.label}}
      {{form.street_type(class="u-full-width select2-search")}}
      {{form.street_suffix.label}} {{form.street_suffix(class="u-full-width
      select2-search")}} {{form.city.label}} {{form.city(class="u-full-width")}}
      {{form.state.label}} {{form.state(class="u-full-width select2-search")}}
      {{form.zipcode.label}} {{form.zipcode(class="u-full-width")}}
      {{form.county_code.label}} {{form.county_code(class="u-full-width
      select2-search")}}
      <h3>Station Contact Numbers</h3>
      {{form.tele_phone.label}} {{form.tele_phone(class="u-full-width")}}
      {{form.fax_phone.label}} {{form.fax_phone(class="u-full-width")}}
      <h3>Status</h3>
      {{form.status.label}} {{form.status(class="u-full-width")}}
      <div>{{form.submit(class="button-primary")}}</div>
    </div>
  </div>
  {%endblock content%}
</form>
