{% block navbar %}
<aside>
  <!-- Logo - Start -->
  <div class="toggle">
    <div class="logo">
      <img
        src="{{ url_for('static', filename='assets/logos/emberstone_logo_1024x1024.png') }}"
        alt="Emberstone Logo"
      />
      <h2>Emberstone</h2>
    </div>
    <div class="close" id="close-btn">
      <span>&times;</span>
    </div>
  </div>
  <!-- Logo - End -->
  <!-- Navbar - Start -->
  <div class="sidebar">
    <a href="#"><h3>Home</h3></a>
    <a href="#"><h3>Home</h3></a>
  </div>
  <!-- Navbar - End -->
</aside>
{% endblock navbar %}
