<!-- CSS  Start -->
<!-- Normalize -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/normalize/normalize.css') }}"
/>
<!-- Skeleton -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/skeleton/skeleton.css') }}"
/>
<!-- Custom -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styles.css') }}"
/>
<!-- FontAwesome -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}"
/>
<!-- CSS - End -->
