<!-- CSS  Start -->
<!-- Normalize -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/normalize/normalize.css') }}"
/>
<!-- Zesty UX -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/zesty.css') }}"
/>
<!-- FontAwesome -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}"
/>
<!-- CSS - End -->
