/* Navigation - Sidebar */
aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
    border-right: 1px solid #dee2e6;
}

/* Card - Custom */
.card {
    height: 100vh;
}

/* Button Group */
.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.button-group button {
    margin-right: 1rem;
}

.button-group form {
    margin-right: 1rem;
}
