/* Sidenav */
aside {
    height: 100vh;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 92vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar a {
    display: flex;
    color: var(--color-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

/* Topnav */
.topnav {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1rem;
    position: relative;
}

.topnav a {
    margin-left: 0.5rem;
}

/* Card - Custom */
.card {
    height: 100vh;
}

/* Button Group */
.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.button-group button {
    margin-right: 1rem;
}

.button-group form {
    margin-right: 1rem;
}
