/* Navigation - Sidebar */
.card {
    height: 100vh;
}

/* Button Group */
.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.button-group button {
    margin-right: 1rem;
}

.button-group form {
    margin-right: 1rem;
}
