{% extends 'base.html' %} {% block content %}
<h1>View Station</h1>
<div class="row">
  <a href="{{ url_for('stations.add_station') }}" class="button"
    >Add New Station</a
  >
</div>
<table>
  <thead>
    <th>Station Number</th>
    <th>Station Name</th>
    <th>Station Address</th>
    <th>Station Phone</th>
    <th>Station Status</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% if stations %} {% for station in stations %}
    <tr>
      <td>{{ station.number }}</td>
      <td>{{ station.name }}</td>
      <td>
        {{ station.street_number }} {{ station.street_name }} {{
        station.street_type }} {{ station.city}}, {{ station.state }} {{
        station.zipcode }}
      </td>
      <td>{{ station.tele_phone }}</td>
      <td>{{ station.status }}</td>
      <td>
        <a href="{{ url_for('stations.edit_station', station_id=station.id) }}"
          >Edit</a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="6">
        No Stations exist.
        <a href="{{ url_for('stations.add_station') }}">Add a new station.</a>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock content %}
