/* Flex Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flex-container {
  display: flex;
  height: 100vh;
  /* Full height of the viewport */
}

/* Vertical Centering
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Vertically Centered Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical-center-text {
  margin-top: 5px;
}

/* Login Page - Left Branding Panel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-branding {
  background: rgb(29, 28, 32);
  border-right: 1px solid #fff;
  color: #fff;
}

/* Right Panel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.right-panel-container {
  flex: 1;
  padding: 20px;
}