/* Vertical Centering
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Vertically Centered Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical-center-text {
  margin-top: 5px;
}

/* Login Page - Left Branding Panel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-branding {
  background: linear-gradient(102deg, rgb(193, 0, 0) 10.6%, rgb(255, 73, 73) 90%);
  border-right: 1px solid #fff;
  color: #fff;
}