/* Vertical Centering
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Login Page - Left Branding Panel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-branding {
  background-color: #99201c;
  background-image: linear-gradient(129deg, #f56545 0%, #99201c 74%);
  border-right: 1px solid #fff;
  color: #fff;
}